* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #ebedee 74%);
}

#app {
  width: min(60%, 500px);
  height: min(100%, 320px);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
  line-height: 1.5;
}

#app img {
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  /* border: 4px solid black; */
}

#app button {
    width: min(100%, 185px);
    margin-top: 1%;
    padding: 2%;
    height: 50px;
    border: none;
    border-radius: 0.5rem;
   /*  background-color: black; */
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#app button:hover{
    transition: 0.3s ease-in-out;
    background-color: #414040;
}

.male {
    border: 4px solid steelblue;
    background-color: steelblue;
}

.female {
    background-color: pink;
    border: 4px solid pink;
    color: #333;
}
